In [11]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [12]:
data = pd.read_excel('transactions.json')

In [13]:

data.to_exel("DataSetBad.xlsx")

,Unnamed: 0,date,card,account,account_valid_to,client,last_name,first_name,patronymic,date_of_birth,...,passport_valid_to,phone,oper_type,amount,oper_result,terminal,terminal_type,city,address,d\tate
0,1984-07-21 15:15:24,2020-05-01T00:00:29,59649132026167121328,40817810000001139973,2036-01-16T00:00:00,3-95179,Мисик,Сергей,Николаевич,1938-06-25T00:00:00,...,2022-11-09T00:00:00,79497481039,Пополнение,31576.60,Отказ,POS43792,POS,Славянск-на-Кубани,"Славянск-на-Кубани, ул. Клецкая, д. 86",NaN
1,1984-07-21 15:15:43,2020-05-01T00:02:46,54236863445669263724,40817810000006468175,2033-11-15T00:00:00,8-33140,Ачентов,Антон,Дмитриевич,1960-08-04T00:00:00,...,2030-09-13T00:00:00,79458324907,Пополнение,60041.10,Отказ,POS75616,POS,Пустошка,"Пустошка, ул. Цюрупинская, д. 78",NaN
2,1984-07-21 15:16:08,2020-05-01T00:05:14,45930894029725313464,40817810000009142118,2029-03-18T00:00:00,4-72043,Гуляков,Евгений,Константинович,1989-08-15T00:00:00,...,2021-06-24T00:00:00,79953939977,Снятие,18474.46,Успешно,POS28311,POS,Петровск-Забайкальский,"Петровск-Забайкальский, ул. Тагильская, д. 38",NaN
3,1984-07-21 15:17:37,2020-05-01T00:07:05,47550893546403715714,40817810000005559732,2028-04-01T00:00:00,1-85045,Гуляков,Кирилл,Петрович,1996-09-18T00:00:00,...,2023-01-08T00:00:00,79698158422,Пополнение,915.26,Успешно,ATM39555,ATM,Краснослободск,"Краснослободск, ул. Фогеля, д. 20",NaN
4,1984-07-21 15:17:44,2020-05-01T00:08:27,53036257457049008830,40817810000007495265,2037-10-26T00:00:00,5-77607,Мисик,Сергей,Олегович,1992-05-08T00:00:00,...,2032-09-27T00:00:00,79181011177,Оплата,75843.91,Отказ,ATM16730,ATM,Черкесск,"Черкесск, ул. Гинтовта, д. 56",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4466,1984-07-21 16:33:43,2020-05-05T21:33:12,48201610882535918830,40817810000009995390,2023-10-02,1-56145,Красносивенький,Ислам,Ахматов,1952-03-13,...,2030-11-11,73497185681,Пополнение,33456.18,Отказ,POS43792,POS,Зима,"Зима, ул. Лебедева-Кумача, д. 17",NaN
4467,1984-07-21 16:33:44,2020-05-05T21:34:46,58685860072058751139,40817810000009995391,2033-06-21,1-29405,Павлихин,Гоар,Евсюшкин,1948-11-13,...,2034-03-02,76101544386,Оплата,60893.22,Отказ,POS43792,POS,Выкса,"Выкса, ул. Слесарная, д. 80",NaN
4468,1984-07-21 16:33:45,2020-05-05T21:36:07,52002457754706265318,40817810000009995392,2017-05-28,8-44184,Абрамчик,Иоаким,Свободин,1970-07-01,...,2022-01-12,77469130963,Оплата,17421.05,Отказ,POS28311,POS,Ессентуки,"Ессентуки, ул. Берковецкая, д. 87",NaN
4469,1984-07-21 16:33:46,2020-05-05T21:37:48,46860025272700909519,40817810000009995393,2017-07-21,8-44184,Абрамчик,Иоаким,Свободин,1970-07-01,...,2027-04-14,77469130963,Пополнение,27723.81,Успешно,POS28311,POS,Ессентуки,"Ессентуки, ул. Берковецкая, д. 87",NaN
4470,1984-07-21 16:33:47,2020-05-05T21:39:29,56037470176508885939,40817810000009995394,2014-01-21,8-44184,Абрамчик,Иоаким,Свободин,1970-07-01,...,2031-11-10,77469130963,Снятие,84481.15,Отказ,POS28311,POS,Ессентуки,"Ессентуки, ул. Берковецкая, д. 87",NaN

In [14]:
data.describe()

           passport         phone        amount
count  4.471000e+03  4.471000e+03   4471.000000
mean   5.448431e+09  7.753330e+10  47770.991270
std    2.450081e+09  2.955715e+09  27605.136703
min    1.018586e+09  7.002818e+10      4.630000
25%    3.407932e+09  7.573357e+10  23917.095000
50%    5.288742e+09  7.924951e+10  47399.170000
75%    7.529308e+09  7.962308e+10  71180.820000
max    9.968804e+09  7.998987e+10  99980.100000

In [15]:
data.corr()

          passport     phone    amount
passport  1.000000 -0.009473  0.028733
phone    -0.009473  1.000000  0.075423
amount    0.028733  0.075423  1.000000

In [16]:
groupped_data = data.groupby("account")

In [24]:
groupped_data.mean('amount')

                          passport         phone     amount
account
40817810000001001048  2.415174e+09  7.978163e+10  43679.235
40817810000001005322  4.750297e+09  7.973361e+10  53746.270
40817810000001005464  7.004799e+09  7.923909e+10  62351.250
40817810000001007118  1.298691e+09  7.973658e+10  85154.270
40817810000001008879  6.708391e+09  7.959674e+10  47932.530
...                            ...           ...        ...
40817810000009995390  4.775600e+09  7.349719e+10  33456.180
40817810000009995391  7.932682e+09  7.610154e+10  60893.220
40817810000009995392  6.144598e+09  7.746913e+10  17421.050
40817810000009995393  6.144598e+09  7.746913e+10  27723.810
40817810000009995394  6.144598e+09  7.746913e+10  84481.150

[4192 rows x 3 columns]